.receipt-caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //   background-color: whitesmoke;
    background-image: url("/src/assets/media/blank_receipt.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 300px;
    text-align: center;
    padding: 50px 40px;
    right: 30px;
    top: 50%;
    z-index: 5;

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .receipt-caption {
        top: 50px;
        // width: 50%;
        width: 250px;
        height: 400px;
        padding: 30px;

        h4 {
            font-size: 36px;
        }

        p {
            font-size: 28px;
        }
    }
}
