#home {
  background-image: url("../../assets/media/printer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.title {
  transform: scale(1.4);

  h1 {
    font-size: 120px;
    line-height: 0.6;
  }
}

nav {
  font-size: 72px;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
