.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    //   background-color: whitesmoke;
    width: 350px;
    padding: 60px 50px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    animation: slideUp 0.6s ease;

    h2 {
        line-height: 1;
    }

    input {
        text-align: center;
    }
}

@keyframes slideUp {
    0% {
        transform: translate(-50%, 100%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes slideDown {
    0% {
        transform: translate(-50, 0%);
    }
    100% {
        transform: translate(-50%, 100%);
    }
}
