@use "utils/variables";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "OT Neue Montreal Extra Squeezed", sans-serif;
    font-weight: 530;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 36px;
}

a,
.underline {
    text-decoration: underline;
}

a {
    &:hover {
        color: variables.$background-orange;
        // color: white;
        // text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        //     1px 1px 0 black;
    }
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // min-width: 500px;
    // width: calc(100vw - 300px);
    max-width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    .heading {
        align-self: flex-start;
        display: flex;
        justify-content: start;
        align-items: end;
        gap: 20px;

        h1 {
            text-decoration: underline;
            white-space: nowrap;
        }

        h2 {
            white-space: nowrap;
        }
    }
}

.square {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.orange-bg {
    background-color: variables.$background-orange;
    color: white;
}

.purple-bg {
    background-color: variables.$background-purple;
    color: white;
}

.subtitle {
    font-size: 32px;
}

input,
textarea {
    font-family: "OT Neue Montreal Squeezed", sans-serif;
    padding: 5px 10px;
    border: black solid 1px;
    font-size: 24px;
}

@media screen and (max-width: 1024px) {
    .section {
        .heading {
            h2 {
                white-space: wrap;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    body {
        line-height: 1.3;
    }

    .section {
        .heading {
            gap: 0;
            flex-direction: column;
            align-items: start;

            h2 {
                white-space: wrap;
            }
        }
    }
}
